* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#product-main-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2% 8%;
}

#product-left-div {
  width: 40%;
  padding-right: 8%;
  align-self: flex-start;
}

#product-left-div img {
  width: 100%;
}

#product-right-div {
  width: 60%;
  align-self: flex-start;
  z-index: 5;
}

#product-name {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

#product-brand {
  font-weight: 600;
  color: black;
  opacity: 0.6;
  margin: 0;
  margin-top: 8px;
  font-size: 24px;
}

.section-heading {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 36px;
  font-weight: 400;
  margin-bottom: 16px;
}

#product-price {
  max-width: 500px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 600;
  color: #009688;
  margin: 0;
  display: inline-block;
}

#product-description {
  max-width: 500px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

#product-small-preview-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#product-small-preview-img-wrapper > img {
  width: 50px;
  border-radius: 6px;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px;
  display: inline-block;
  box-sizing: content-box;
}
#product-small-preview-img-wrapper > img:first-of-type {
  margin-left: 0;
}
/* .product-small-preview-img {
  
} */

.product-small-preview-img-selected {
  box-sizing: content-box;
  border: 2px solid #009688;
}
/* .product-small-preview-img img {
  width: 100%;
  border-radius: 6px;
} */

#addto-cart-btn {
  background-color: #009688;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 18px 36px;
  border-radius: 6px;
  margin-top: 36px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: transform 200ms;
  font-family: Arial, sans-serif;
}

.bigger {
  transform: scale(1.1, 1.1);
}

@media (max-width: 768px) {
  #product-main-wrapper {
    width: 100%;
    flex-direction: column;
  }

  #product-left-div {
    width: 100%;
    padding-right: 0;
    margin-top: 20px;
  }

  #product-left-div img {
    width: 100%;
  }

  #product-right-div {
    width: 100%;
  }
  #product-small-preview-img-wrapper > img {
    width: 30px;
  }

  #product-name {
    font-size: 34px;
  }

  #product-brand {
    font-size: 20px;
  }

  .section-heading {
    font-size: 20px;
  }

  #product-price {
    font-size: 20px;
  }

  #product-description {
    font-size: 16px;
  }
  #addto-cart-btn {
    font-size: 15px;
    padding: 12px 30px;
  }
}
